  <div class="side-bar-header">
    <a href="#" class="user-name">
        <%= link_to current_user.name,edit_user_path(current_user)%>
    </a>
    <a href="#" class="chat-create">チャットを作成する</a>
  </div>

  <div class="rooms">
    <a href="#">room1</a>
    <a href="#">room2</a> 
    <a href="#">room3</a>
    <a href="#">room4</a>
    <a href="#">room5</a>
    <a href="#">room6</a>
    <a href="#">room7</a>
    <a href="#">room8</a>
    <a href="#">room9</a>
    <a href="#">room10</a>      
  </div>